{% extends "layout.html" %}
{% block content %}
    <section class="img-background">
        <h3>giới thiệu</h3>
        <div class="local-title">
            <a href="index.html" class="style-back-home">Trang chủ</a> / <a class="live">Giới thiệu</a>
        </div>
    </section>
    <section id="brand">
        <div class="container">
            <div class="group-item">
                <div class="item">
                    <img src="/assets/img/img_brand_1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/img/img_brand_2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/img/img_brand_3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/img/img_brand_4.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/img/img_brand_5.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/img/img_brand_6.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="infomation">
        <div class="container">
            <div class="row">
                <div class="col img-left">
                    <img src="/assets/img/banner_information.png" alt="">
                </div>
                <div class="col info-right">
                    <div class="info-item">
                        <a class="title-tag">Về chúng tôi</a>
                        <h3>Chào mừng đến với<br>Auto Center</h3>
                        <p>Được biết đến là trung tâm uy tín, nơi đáng tin cậy của những người yêu xế cưng tại khu vực,
                            Chúng tôi cung cấp dịch vụ: máy gầm đồng sơn; rửa xe; sơn, sửa chữa, thay thế phụ tùng, lắp
                            đặt nội thất, đồ chơi xe ô tô; tư vấn bảo hiểm, tư vấn mua bán xe ô tô. Với bề dày hoạt
                            động, cùng đội ngũ nhân viên chuyên nghiệp, nhiệt tình, trang thiết bị sửa chữa hiện đại,
                            linh phụ kiện chính hãng…</p>
                        <div class="group-img-text">
                            <div class="item-img-text left">
                                <img src="/assets/img/icon_information1.png" alt="">
                                <div class="text">
                                    <a>150+</a>
                                    <p>Nhân viên</p>
                                </div>
                            </div>
                            <div class="item-img-text right">
                                <img src="/assets/img/icon_information2.png" alt="">
                                <div class="text">
                                    <a>8000+</a>
                                    <p>Khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-more">
                        <span>Xem thêm</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="img-background-second">
        <div class="group-item-info">
            <div class="item-info">
                <h3>2+</h3>
                <span class="line"></span>
                <p>Năm kinh nghiệm</p>
            </div>
            <div class="item-info">
                <h3>25+</h3>
                <span class="line"></span>
                <p>Nhân viên</p>
            </div>
            <div class="item-info">
                <h3>32+</h3>
                <span class="line"></span>
                <p>Đối tác</p>
            </div>
            <div class="item-info">
                <h3>960+</h3>
                <span class="line"></span>
                <p>Khách hàng</p>
            </div>
        </div>
    </section>
    <section class="detail-infomation">
        <div class="container">
            <div class="row">
                <div class="col left">
                    <h3>Tầm nhìn, nhiệm vụ</h3>
                    <p>Auto Center luôn luôn cố gắng để trở thành nơi cung cấp hàng đầu các dịch vụ “Chăm sóc xe toàn
                        diện” cho quý khách hàng, là gara có thương hiệu về tất cả các dịch vụ liên quan đến bảo trì,
                        bảo dưỡng, sửa chữa ô tô. Nơi đây cũng sẽ như một spa hiện đại trong lĩnh vực làm đẹp, làm mới
                        với những phụ tùng, thiết bị chính hãng uy tín nhất trên thị trường. Để làm được điều đó, chúng
                        tôi sẵn sàng lắng nghe, tìm hiểu nhu cầu và đưa ra các giải pháp tối ưu nhất dành cho quý khách
                        hàng.
                    </p>
                    <p>Chúng tôi tạo ra cách làm tốt hơn thông qua việc chuyên môn hóa tới từng khâu công việc, tới từng
                        con người và luôn đặt tính hiệu quả của công việc lên trên hàng đầu.</p>
                </div>
                <div class="col right">
                    <img class="img-detail-infomation" src="/assets/img/banner-vision-mission.png" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}