{% extends "layout.html" %}

{% block title %}
    AutoCenter Page
{% endblock title %}
    
{% block content %}
    <section id="slide">
        <div class="slide slick-item">
            <div class="img-background-index">
                <img class="img-fluid" src="/assets/img/slider_1.jpg" alt="">
            </div>
        </div>
    </section>
    <section id="brand">
        <div class="container">
            <div class="group-item">
                <div class="item">
                    <img src="/assets/img/img_brand_1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/img/img_brand_2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/img/img_brand_3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/img/img_brand_4.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/img/img_brand_5.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/assets/img/img_brand_6.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="infomation">
        <div class="container">
            <div class="row">
                <div class="col img-left">
                    <img src="/assets/img/banner_information.png" alt="">
                </div>
                <div class="col info-right">
                    <div class="info-item">
                        <a class="title-tag">Về chúng tôi</a>
                        <h3>Chào mừng đến với<br>Auto Center</h3>
                        <p>Được biết đến là trung tâm uy tín, nơi đáng tin cậy của những người yêu xế cưng tại khu vực,
                            Chúng tôi cung cấp dịch vụ: máy gầm đồng sơn; rửa xe; sơn, sửa chữa, thay thế phụ tùng, lắp
                            đặt nội thất, đồ chơi xe ô tô; tư vấn bảo hiểm, tư vấn mua bán xe ô tô. Với bề dày hoạt
                            động, cùng đội ngũ nhân viên chuyên nghiệp, nhiệt tình, trang thiết bị sửa chữa hiện đại,
                            linh phụ kiện chính hãng…</p>
                        <div class="group-img-text">
                            <div class="item-img-text left">
                                <img src="/assets/img/icon_information1.png" alt="">
                                <div class="text">
                                    <a>150+</a>
                                    <p>Nhân viên</p>
                                </div>
                            </div>
                            <div class="item-img-text right">
                                <img src="/assets/img/icon_information2.png" alt="">
                                <div class="text">
                                    <a>8000+</a>
                                    <p>Khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-more">
                        <span>Xem thêm</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service" class="service">
        <div class="container">
            <div class="title-section">
                <div class="title-tag">
                    <a>Dịch vụ</a>
                </div>
                <div class="title-index">
                    <p>Dịch vụ nổi bật tại Garage</p>
                    <a>Mặc dù trên thị trường có rất nhiều đơn vị đã và đang cung cấp dịch vụ chăm sóc, sửa chữa ôtô.
                        Nhưng chúng tôi tự tin mang đến cho khách hàng những giải pháp chăm sóc xe toàn diện nhất</a>
                </div>
            </div>
            <div class="row group-item-service">
                <div class="col pack-item-service">
                    <div class="item-service item1">
                        <div class="img-item-service">
                            <img src="/assets/img/image_service1.png" alt="">
                        </div>
                        <div class="index-item-service">
                            <h3>Sữa chữa khung gầm ô tô</h3>
                            <p>Vì sao cần sửa chữa hệ thống khung gầm ô tô? Hệ thống khung gầm...</p>
                        </div>
                        <div class="button-more-info">
                            <span>Xem thêm <i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>
                    <div class="item-service item4">
                        <div class="img-item-service">
                            <img src="/assets/img/image_service4.png" alt="">
                        </div>
                        <div class="index-item-service">
                            <h3>Sữa chữa khung gầm ô tô</h3>
                            <p>Vì sao cần sửa chữa hệ thống khung gầm ô tô? Hệ thống khung gầm...</p>
                        </div>
                        <div class="button-more-info">
                            <span>Xem thêm <i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col pack-item-service">
                    <div class="item-service item2">
                        <div class="img-item-service">
                            <img src="/assets/img/image_service2.png" alt="">
                        </div>
                        <div class="index-item-service">
                            <h3>Sữa chữa khung gầm ô tô</h3>
                            <p>Vì sao cần sửa chữa hệ thống khung gầm ô tô? Hệ thống khung gầm...</p>
                        </div>
                        <div class="button-more-info">
                            <span>Xem thêm <i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>
                    <div class="item-service item5">
                        <div class="img-item-service">
                            <img src="/assets/img/image_service5.png" alt="">
                        </div>
                        <div class="index-item-service">
                            <h3>Sữa chữa khung gầm ô tô</h3>
                            <p>Vì sao cần sửa chữa hệ thống khung gầm ô tô? Hệ thống khung gầm...</p>
                        </div>
                        <div class="button-more-info">
                            <span>Xem thêm <i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col pack-item-service">
                    <div class="item-service item3">
                        <div class="img-item-service">
                            <img src="/assets/img/image_service3.png" alt="">
                        </div>
                        <div class="index-item-service">
                            <h3>Sữa chữa khung gầm ô tô</h3>
                            <p>Vì sao cần sửa chữa hệ thống khung gầm ô tô? Hệ thống khung gầm...</p>
                        </div>
                        <div class="button-more-info">
                            <span>Xem thêm <i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>
                    <div class="item-service item6">
                        <div class="img-item-service">
                            <img src="/assets/img/image_service6.png" alt="">
                        </div>
                        <div class="index-item-service">
                            <h3>Sữa chữa khung gầm ô tô</h3>
                            <p>Vì sao cần sửa chữa hệ thống khung gầm ô tô? Hệ thống khung gầm...</p>
                        </div>
                        <div class="button-more-info">
                            <span>Xem thêm <i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-more">
                <span>Xem tất cả</span>
            </div>
        </div>
    </section>
    <section id="product" class="product">
        <div class="container">
            <div class="title-section">
                <div class="title-tag">
                    <a>Sản phẩm</a>
                </div>
                <div class="title-index">
                    <p>Phụ tùng chính hãng</p>
                    <a>Các sản phẩm của tập trung vào các thương hiệu lớn như Bosch, Valeo, Masuma, TYC, KYB... sản phẩm
                        chính hãng Honda - Hyundai - Kia - Toyota - Nissan. Các sản phẩm được chúng tôi bán ra đều có
                        đầy đủ chứng từ, hóa đơn VAT...</a>
                </div>
            </div>
            <div class="index-product">
                <div class="list-button style-button">
                    <button class="tablinks" onclick="openDetails(event, 'Hot')" id="defaultOpen">Sản phẩm nổi
                        bật</button>
                    <button class="tablinks" onclick="openDetails(event, 'Oil')">Dầu nhớt ô tô</button>
                    <button class="tablinks" onclick="openDetails(event, 'Tyre')">Lốp ô tô</button>
                    <button class="tablinks" onclick="openDetails(event, 'HeadLight')">Đèn ô tô</button>
                    <button class="tablinks" onclick="openDetails(event, 'Other')">Phụ kiện khác</button>
                </div>
                <div id="Hot" class="tabcontent">
                    <span class="button-close" onclick="this.parentElement.style.display='none'">&times</span>
                    <div class="row group-item-product">
                        <div class="col list-item-product">
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/gia-dau-nhot-xe-may.png" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Dầu Nhớt Fuchs Silkolene 10w40 và 10w30 chính hãng</p>
                                    <a>200.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">450.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/volkswagen-co-dau.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Dầu Nhớt Động Cơ 10w40 Ô Tô TOTAL QUARTZ 5000 SN</p>
                                    <a>250.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">550.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/dau-nhot-nhap.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Dầu Nhớt Xe Ô Tô MOTUL Multipower Plus 5W30 4L (Giới hạn)</p>
                                    <a>1.500.000<u>đ</u></a>
                                </div>
                                <button class="button-bottom-item">Mua Ngay</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/lop-nhap.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Vỏ Lốp 165-65R14 Otani Thái Lan, Vỏ Lốp Chevrolet Spark</p>
                                    <a>2.000.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;
                                </div>
                                <button class="button-bottom-item">Mua ngay</button>
                            </div>
                        </div>
                        <div class="col list-item-product">
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/dau-nhot-nhap.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Dầu Nhớt Xe Ô Tô MOTUL Multipower Plus 5W30 4L (Giới hạn)</p>
                                    <a>1.500.000<u>đ</u></a>
                                </div>
                                <button class="button-bottom-item">Mua Ngay</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/lop-nhap.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Vỏ Lốp 165-65R14 Otani Thái Lan, Vỏ Lốp Chevrolet Spark</p>
                                    <a>2.000.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;
                                </div>
                                <button class="button-bottom-item">Mua ngay</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/gia-dau-nhot-xe-may.png" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Dầu Nhớt Fuchs Silkolene 10w40 và 10w30 chính hãng</p>
                                    <a>200.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">450.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/volkswagen-co-dau.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Dầu Nhớt Động Cơ 10w40 Ô Tô TOTAL QUARTZ 5000 SN</p>
                                    <a>250.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">550.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="Oil" class="tabcontent">
                    <span class="button-close" onclick="this.parentElement.style.display='none'">&times</span>
                    <div class="row group-item-product">
                        <div class="col list-item-product">
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/gia-dau-nhot-xe-may.png" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Dầu Nhớt Fuchs Silkolene 10w40 và 10w30 chính hãng</p>
                                    <a>200.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">450.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/volkswagen-co-dau.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Dầu Nhớt Động Cơ 10w40 Ô Tô TOTAL QUARTZ 5000 SN</p>
                                    <a>250.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">550.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/gia-dau-nhot-xe-may-4.png" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Dầu Nhớt Tổng Hợp 10w40 MOTUL TOTAL SCOOTER Jaso MB </p>
                                    <a>300.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">650.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/dau-nhot-nhap-khau-song-dai-long-723924.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Dầu Nhớt Xe Ô Tô CASTROL EDGE 5W30 MULTIPOWER Plus SP 4L</p>
                                    <a>1.500.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">2.500.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                        </div>
                        <div class="col list-item-product">
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/volkswagen-co-dau.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Phụ Gia Dầu Nhớt Nano Graphene Oli Additive DD Phụ Gia</p>
                                    <a>250.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">300.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Tyre" class="tabcontent">
                    <span class="button-close" onclick="this.parentElement.style.display='none'">&times</span>
                    <div class="row group-item-product">
                        <div class="col list-item-product">
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/bluearth-es.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Vỏ lốp 195/55R16 Maxxis, Vỏ lốp xe ô tô BMW 116i</p>
                                    <a>1.400.000<u>đ</u></a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/175-50r15.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Vỏ lốp 165/65R14 Otani Thái Lan, vỏ lốp Chevrolet Spark Duo</p>
                                    <a>2.500.000<u>đ</u></a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/bluearth-es32-a.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>LỐP XE ÔTÔ MILESTAR (full size) - LỐP THƯƠNG HIỆU MỸ, CHẤT LƯỢNG CAO</p>
                                    <a>1.800.000<u>đ</u></a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/265-65r17.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Vỏ lốp 185/55R15 TBB, Vỏ lốp ô tô Chevrolet Aveo, Vỏ lốp xe Ford Fiesta</p>
                                    <a>900.000<u>đ</u></a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                        </div>
                        <div class="col list-item-product">
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/175-50r15.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Bộ 04 Ốp Chụp Mâm Lazang Xe Ô Tô Hyundai R14 14inch - TB</p>
                                    <a>600.000<u>đ</u></a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="HeadLight" class="tabcontent">
                    <span class="button-close" onclick="this.parentElement.style.display='none'">&times</span>
                    <div class="row group-item-product">
                        <div class="col list-item-product">
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/den1.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Đèn Pha Led RUBY Bi Cầu Mini 2 Mầu Đuôi Công 2021 Chip Mini L2</p>
                                    <a>1.600.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">2.000.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/den2.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Bóng đèn LED lùi xe siêu sáng T15 W16W 921 45 SMD 4014 cho ô tô</p>
                                    <a>2.100.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">2.500.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/den3.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Cặp đèn LED pha xe hơi cao cấp H4 H7 H11 H8 Hb4 H1 H3 9005 Hb3 Auto S2 72w 8000lm
                                    </p>
                                    <a>700.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">850.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/den4.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>1 cặp đèn pha LED 12000LM H4 H7 H11 H27 9005 HB3 9006 HB4 H1 6000K 8000K 110W</p>
                                    <a>3.000.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">3.500.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                        </div>
                        <div class="col list-item-product">
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/den5.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Đèn pha LED Philips Ultinon Essential Gen 2</p>
                                    <a>600.000<u>đ</u></a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Other" class="tabcontent">
                    <span class="button-close" onclick="this.parentElement.style.display='none'">&times</span>
                    <div class="row group-item-product">
                        <div class="col list-item-product">
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/do-trang-tri-xe-hoi-1.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Bộ mô hình ô tô siêu xinh</p>
                                    <a>800.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">1.000.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/phu-kien-trang-tri-oto-cap-huou-1.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Bộ tượng cao cấp hưu và nai</p>
                                    <a>500.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">1.000.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/do-trang-tri.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Decor mèo thần tài, trang trí taplo ô tô
                                    </p>
                                    <a>500.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">650.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                            <div class="item-product">
                                <div class="img-item-product">
                                    <img src="/assets/img/do-trang-tri-2.jpg" alt="">
                                </div>
                                <div class="name-item-product">
                                    <p>Bộ tượng hình chú tiểu & đài hoa</p>
                                    <a>900.000<u>đ</u></a>&nbsp;&nbsp;&nbsp;<a class="line-center">1.050.000đ</a>
                                </div>
                                <button class="button-bottom-item">Tùy chọn</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="news" class="news">
        <div class="container">
            <div class="title-section">
                <div class="title-index">
                    <p>Tin tức và sự kiện</p>
                    <a>Cập nhật tin tức mới nhất về chương trình ưu đãi của Garage</a>
                </div>
            </div>
            <div class="index-news">
                <div class="list-card">
                    <div class="card-item">
                        <div class="top-img">
                            <img src="/assets/img/binh-chua-chay.webp" alt="">
                            <span class="temp-1">24/08/2022</span>
                            <span class="temp-2"></span>
                        </div>
                        <div class="content">
                            <div class="title-content">
                                <p>Có nên để bình chửa cháy trong ô tô? Cách sử dụng bình chửa cháy</p>
                            </div>
                            <div class="index-content">
                                <p>Việc trang bị bình chữa cháy trong xe ô tô là cần thiết. Dẫu nhiều ngưởi ...</p>
                            </div>
                        </div>
                        <div class="group-button">
                            <div class="button-more-info">
                                <span>Xem thêm <i class="fa-solid fa-arrow-right-long"></i></span>
                            </div>
                            <div class="comment-share">
                                <i class="fa-regular fa-comment"></i> | <i class="fa-regular fa-share-from-square"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="top-img">
                            <img src="/assets/img/untitled-2.webp" alt="">
                            <span class="temp-1">24/08/2022</span>
                            <span class="temp-2"></span>
                        </div>
                        <div class="content">
                            <div class="title-content">
                                <p>5 cách vá lốp xe ô tô hiệu quả và nhanh nhất hiện nay</p>
                            </div>
                            <div class="index-content">
                                <p>Trong quá trình lái xe ô tô, việc lốp xe ô tô bị thủng là điều khó tránh khỏi ...</p>
                            </div>
                        </div>
                        <div class="group-button">
                            <div class="button-more-info">
                                <span>Xem thêm <i class="fa-solid fa-arrow-right-long"></i></span>
                            </div>
                            <div class="comment-share">
                                <i class="fa-regular fa-comment"></i> | <i class="fa-regular fa-share-from-square"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="top-img">
                            <img src="/assets/img/untitled-3.webp" alt="">
                            <span class="temp-1">24/08/2022</span>
                            <span class="temp-2"></span>
                        </div>
                        <div class="content">
                            <div class="title-content">
                                <p>Đổi màu ô tô, có nên đổi màu nội thất cho xe?</p>
                            </div>
                            <div class="index-content">
                                <p>Có nên đổi màu nột thất ô tô? Nhiều người thường quan tâm đến nước sơn ...</p>
                            </div>
                        </div>
                        <div class="group-button">
                            <div class="button-more-info">
                                <span>Xem thêm <i class="fa-solid fa-arrow-right-long"></i></span>
                            </div>
                            <div class="comment-share">
                                <i class="fa-regular fa-comment"></i> | <i class="fa-regular fa-share-from-square"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="top-img">
                            <img src="/assets/img/untitled-1.webp" alt="">
                            <span class="temp-1">24/08/2022</span>
                            <span class="temp-2"></span>
                        </div>
                        <div class="content">
                            <div class="title-content">
                                <p>Hướng dẫn cách xóa vết xước trên xe ô tô tại nhà</p>
                            </div>
                            <div class="index-content">
                                <p>Bước 1: Kiểm tra mức độ của vểt trầy xước ô tô, việc đầu tiên bạn cần làm đó là ...
                                </p>
                            </div>
                        </div>
                        <div class="group-button">
                            <div class="button-more-info">
                                <span>Xem thêm <i class="fa-solid fa-arrow-right-long"></i></span>
                            </div>
                            <div class="comment-share">
                                <i class="fa-regular fa-comment"></i> | <i class="fa-regular fa-share-from-square"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
    